.cardCart {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    background-color: rgb(68, 68, 68);
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 20px;
    justify-content: space-between;
  }

.element {
    padding: 1rem;
    justify-content: end;
  }

.element2 {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.element2 button{ 
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}