.detalleCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1%;
    background-color: rgb(68, 68, 68);
    padding: 1%;
    border-radius: 10px;
}

.imagen {
    padding-right: 10%;
}

.detalles {
    display: flex;
    flex-direction: column;
    width: 15vw;
    align-items: center;
}